@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://stickerly.pstatic.net/sticker_pack/M6DUfwweCC1PPhJ9HOcpw/DAS3U4/19/-869922692.png" width=100px" height=100px"" />
    <button class="btn-info" onclick="alert('Mi nombre es Emilio Guerrero y mi hobbie es la magia con cartas y jugar volley')">Info</button>
</div>
